img {
    height: 150px;
    width: 280px;
    margin-right: 0.5rem;
    cursor: pointer;
}

h4 {
    margin-left: 5rem;
    margin-top: 2rem;
}

main {
    /* position absolute is the opposite of relative */
    /* position: relative; /* when we want to position an element but do not want to affect the layout around it */ 
    z-index: 1; /* z-index puts this element on top but only works with position set to absolute/relative */
}