.detail-box {
    margin-top: 4rem;
    margin-left: 5rem;
    margin-bottom: 9rem;
    position: relative;
    z-index: 1;
    max-height: 10rem;
}

.detail-box label {
    font-size: 350%;
    font-weight: 500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    padding: 1rem;
}

.detail-box button {
    margin-right: 1rem;
}

.buttons {
    margin-top: -1.8rem;
    margin-left: -2rem;
    padding: 1rem 3rem;
    opacity: 0.5;
}

p {
    padding: 1rem 1.5rem 4rem 1rem;
    width: 35rem;
    height: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7B7C7C;
}

label {
    color: white;
}
