nav a {
    text-decoration: none;
    margin-right: 3rem;
    color: #7B7C7C;
}

nav ul li {
    list-style-type: none;
}

nav a:hover {
    color: white;
}

.active {
    color: white;
}

.home {
    margin-left: 4rem;
}

nav ul {
    display: flex;
    margin-top: 2.1rem;
}

/* .nav li a {
    color: #7B7C7C;
} */

/* .test a {
    color:pink;
    text-decoration: none;
    margin: 1rem;
}

.test a:hover {
    color: white;
} */

/* nav .active {
    color: white;
} */