.search-box {
    height: 3rem;
    width: 20rem;
    padding-left: 2.7rem;
    margin-right: 1rem;
}

.search-icon {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 0.9rem;
    left: 0.5rem;
}

.clear-search-icon {
    position: absolute;
    right: 1.5rem;
    top: 0.9rem;
    width: 30px;
    height: 20px;
}

.search-group {
    position: relative;
}

