html {
/* 1rem = 10px (easier computation)
  if set to 100%, 1rem = 16px (since this is the default browser setting) */
  font-size: 62.5%;
}

:root {
  --sugar-white: #EDEDEB;
  --gray: #7B7C7C;
  --licorice-black: #1A0D0D;
}

body {
  background-color: var(--licorice-black);
  color: var(--sugar-white);
  font-size: 2rem;
}

p {
  color: var(--gray);
  font-size: 1.8rem;
  padding: 5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
