.main-box {
    width: 100%;
    height: 65%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    box-shadow: 5rem 0.5rem 5rem 5rem rgba(0,0,0,0.9) inset; /* adds vignette effect to the image */
}