.slider-container {
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    overflow-x: scroll;
}

.grid-container {
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    flex-basis: 0;
    flex-wrap: wrap;    
}

.container::-webkit-scrollbar {
    display: none; /* to hide scrollbar but keep functionality */
}

.container p {
    font-size: 1.6rem;
    padding: 2em;
}